@import url("https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800,900|Montserrat:300,400,500,700|Playfair+Display:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alex+Brush&display=swap");

$darkgrey: rgb(51, 51, 51);
$gold: #ffc862;

body {
  font-family: "Alegreya", serif;
}

@mixin alegreya {
  font-family: "Alegreya", serif;
  transform: scale(1, 0.9);
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  margin: 0;
  font-size: 3em;
  color: $darkgrey;
  letter-spacing: 1.5px;
}
h3 {
  font-size: 1.5em;
  color: $darkgrey;
  letter-spacing: 1.5px;
}

h4 {
  @include alegreya;
  text-transform: uppercase;
  color: brown;
  letter-spacing: 1.2px;
  margin: 7px 0 50px 0;
  font-size: 0.9em;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85em;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  color: $darkgrey;
  font-weight: 500;
}

.flex {
  display: flex;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  width: 80vw;
}

.container-2 {
  width: 70vw;
  margin: 0 auto;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url("../img/background-image.png") no-repeat;
  background-size: cover;
  nav {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    .container {
      height: 100%;
      align-items: center;
      justify-content: space-between;
      a {
        height: 100%;
        align-items: center;
        img {
          height: 80%;
        }
      }
    }
    ul {
      padding: 0;
      list-style: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.9em;
      li {
        @include alegreya;
        margin: 0 20px;
        a {
          color: rgb(243, 243, 243);
          text-decoration: none;
        }
      }
    }
    .social {
      i {
        color: rgb(243, 243, 243);
        margin-left: 20px;
      }
    }
  }
  .intro {
    height: 75%;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    h1 {
      font-size: 5em;
      letter-spacing: 5px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
      margin-bottom: 20px;
    }
    img {
      padding: 30px 0;
    }
    p {
      color: white;
      font-size: 1.2em;
      letter-spacing: 2px;
      margin-bottom: 60px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }
    a {
      @include alegreya;
      width: 180px;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px dashed rgba(255, 255, 255, 0.5);
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.9em;
      text-decoration: none;
      &:active {
        transform: scale(0.95, 0.87);
      }
    }
    .bread {
      position: absolute;
      bottom: -210px;
    }
  }
}

section.art {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  margin: 10px 0 0 0;
  padding: 70px 0 90px 0;
  .container-2 {
    width: 70vw;
    margin: 0 auto;
    .copy {
      flex: 1 1 50%;
      text-align: center;
      padding: 0 40px;
      p {
        margin-bottom: 40px;
      }
      .cook {
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        img {
          margin: 0 20px;
        }
        h3 {
          padding: 15px;
          border: 1px solid $darkgrey;
          border-width: 1px 0;
          font-weight: 200;
        }
      }
      .quote {
        margin-top: 20px;
        p {
          font-family: "Alex Brush", cursive;
          font-size: 2.2em;
          color: brown;
          margin: 0;
          width: 90%;
          margin: 0 auto;
        }
        img {
          display: block;
        }
        .flip {
          transform: scale(-1, 1);
          float: right;
        }
      }
    }
    .photos {
      grid-template: 1fr 1fr / 1fr 1fr;
      grid-gap: 20px;
      align-content: center;
      position: relative;
      padding: 70px 20px;
      flex: 0 0 50%;
      .stamp {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%);
          text-align: center;
          font-size: 1.8em;
          letter-spacing: 1px;
          font-weight: 200;
          color: $gold;
        }
      }
      .photo {
        img {
          outline: 4px solid white;
          outline-offset: -11px;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

section.recipe {
  background: url("../img/background-image-2.png") no-repeat;
  background-size: cover;
  align-items: center;

  .card {
    grid-template: 1fr / 7fr 1fr;
    margin: 130px 0 100px 0;
    .shadow {
      box-shadow: 0px 5px 31px 0px rgba(0, 0, 0, 0.75);
      .photo {
        background: url("../img/pancakes.jpg") no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 45%;
        i {
          font-size: 0.8em;
          margin: 7px 30px;
          color: rgba(255, 255, 255, 0.9);
        }
      }
      .copy {
        background: url("../img/Vektor-Smartobjekt\ windmill.png") no-repeat;
        background-color: #fff;
        background-position: right bottom;
        background-size: 40% 70%;
        padding: 60px 50px 40px;
      }
      .ingridients {
        margin-top: 90px;
        justify-content: space-between;
        align-items: center;
        .circle {
          width: 30px;
          height: 30px;
          border: 1.5px solid black;
          border-radius: 50%;
          position: relative;
          &:hover .arrow {
            border-color: $gold;
          }
          &:hover {
            border-color: $gold;
          }
          .arrow {
            width: 0.5em;
            height: 0.5em;
            border-right: 0.1em solid black;
            border-top: 0.1em solid black;
            transform: rotate(45deg) translate(-1px, 1px);
          }
          .left {
            transform: rotate(225deg) translate(-1px, 1px);
          }
        }
      }
    }
    .time {
      background-color: transparent;
      position: relative;
      .mini-card {
        position: absolute;
        left: calc(-165px / 2);
        top: -40px;
        width: 165px;
        height: 165px;
        box-shadow: 0px 5px 31px 0px rgba(0, 0, 0, 0.75);
        text-align: center;
        background: url("../img/Vektor-Smartobjekt.png") #fff no-repeat;
        background-size: 300%;
        background-position: left bottom;
        h1 {
          color: $gold;
          font-size: 4em;
          margin: 0;
        }
        h4 {
          margin: 20px 0 0 0;
          &:nth-child(1) {
            color: $gold;
            font-size: 1.1em;
          }
          &:nth-last-child(1) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

section.breakfast {
  background: linear-gradient(rgba(0, 0, 0, 0.2)), url("../img/background-image-3.png") no-repeat;
  background-size: cover;
  padding: 70px 0;
  .menu {
    flex: 1 1 60%;
    text-align: center;
    h2,
    h3 {
      color: white;
      margin: 0;
    }
    h3 {
      font-size: 1.5em;
    }
    h4 {
      color: $gold;
    }
    p {
      color: white;
      font-weight: 200;
    }
    .item {
      .price {
        color: $gold;
        font-weight: 100;
        font-size: 2em;
      }
      img {
        margin-bottom: 20px;
      }
    }
  }
  .cards {
    flex: 1 1 40%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    .card {
      max-width: 130%;
      height: 120%;
      background-color: rgb(231, 231, 231);
      text-align: center;
      padding: 0 50px;
      outline: 1px dashed $darkgrey;
      outline-offset: -11px;
    }
    .est {
      grid-template: auto auto / 1fr 1fr;
      text-align: center;
      justify-content: center;
      margin: 50px 0;
      h4 {
        margin: 0;
        color: $darkgrey;
      }
      img {
        grid-column: span 2;
        width: 100%;
      }
    }
    h2 {
      margin-bottom: 30px;
    }
    p {
      line-height: 27px;
      margin-bottom: 30px;
    }
    a {
      display: inline-block;
      width: 40%;
      border: 1px solid $darkgrey;
      padding: 10px;
      margin-bottom: 50px;
      color: goldenrod;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}

section.sandwich {
  text-align: center;
  background-color: #f3eee8;
  .farm {
    background: url("../img/Vektor-Smartobjekt.png") no-repeat;
    background-position: bottom center;
    background-size: 50%;
    padding-top: 90px;
    h2 {
    }
  }
  .ingridients {
    flex: 35%;
    padding: 0 80px 0 0;
    h3 {
      color:goldenrod;
      margin: 10px 0;
    }
    p {
      margin-bottom: 50px;
    }
  }
  .photo {
    flex: 65%;
    background: url("../img/Ebene 11.png") no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
    flex-direction: row-reverse;
    .prep {
      margin-right: 5px;
      .mini-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 145px;
        height: 145px;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 3px;
        border-radius: 2px;
        &:nth-child(3) {
          background-color: rgba(255, 255, 255, 0.9);
          h2 {
            color: $gold;
            font-size: 4em;
          }
        }
        h4 {
          margin: 0;
        }
      }
    }
  }
}

footer {
  background-color: #f3eee8;
  padding: 30px 0;
  .container {
    align-items: center;
    justify-content: space-between;
    a {
      display: block;
      img {
        width: 150px;
      }
    }
    ul {
      padding: 0;
      list-style: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.9em;
      border-top: 1px solid $darkgrey;
      border-bottom: 1px solid $darkgrey;
      padding: 20px 0;
      li {
        @include alegreya;
        margin: 0 20px;
        a {
          color: $darkgrey;
          text-decoration: none;
        }
      }
    }
  }
}
